body {
    background-color: rgb(183, 166, 205);
}


.container {
    max-width: 1200px;
    margin: 0 auto;
}

img {
    width: 100%;
}

.avator {
    width: 100px;
    float: left;
    border-radius: 50%;
}